/svg/
.svg
.vscode/
# /fonts/
.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
# source/css/*.css
# source/css/*.map
Thumbs.db
.app
.app/
/app/
/dest/*
!/dest/css
!/dest/img
!*.html